<!-- src/app/features/login/login.component.html -->
<div class="login-container container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4 shadow-sm">
          <h2 class="text-center mb-4">Iniciar Sesión</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Usuarios</mat-label>
              <input matInput formControlName="username" required />
              <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                El campo de usuario es requerido.
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" required />
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                El campo de contraseña es requerido.
              </mat-error>
            </mat-form-field>
  
            <button mat-raised-button color="primary" type="submit" class="w-100">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  