/* src/styles.scss */

/* Importa Bootstrap */
@import "bootstrap/scss/bootstrap";

/* Importa estilos globales de Angular Material si es necesario */
/* Puedes agregar personalizaciones aquí */

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
